@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Edu+SA+Beginner&family=Montserrat&family=Righteous&display=swap');

:root {
    --theme: #fdd835;
    --focus: #fdd83550;
}

*,
::before,
::after {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
